@charset "UTF-8";

* {
    font-family: 'Netflix Sans';
}

@font-face {
    font-family: 'Netflix Sans';
    src: url(../fonts/NetflixSans-Regular.otf); 
}

body {
    background-color: #000;
}

.main {
    margin: 0 auto;
    height: 800px;
    max-width: 1700px;
    background: #000;
    border-bottom: 10px solid #222222;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 0px 50px;
}

.header__logo {
    max-width: 150px;
}

.header__btns {
    width: 220px;
}

.btns__input {
    margin-right: 15px;
    padding: 8px 0;
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    font-size: 16px;
    border-radius: 2px;
}

.btns__input > option {
    background-color: gray;
}

.btns__entrar {
    padding: 10px 15px;
    background-color: #E50914;
    color: #FFF;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.main__card-container {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main__card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    max-width: 700px;
}

.card__title {
    color: #FFF;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.card__title__text {
    color: #FFF;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

.card__text {
    color: #FFF;
    font-size: 19px;
    margin-bottom: 15px;
    text-align: center;
}

.card__inputs {
    display: flex;
}

.card__item__email {
    height: 60px;
    width: 450px;
    border: 1px solid #8C8C8C;
    padding: 10px;
}

.card__item__submit {
    font-size: 26px;
    padding: 10px 25px;
    background-color: #F40612;
    color: #FFF;
    border: none;
    border-radius: 1px;
}

.cards-container {
    color: #FFF;
    width: 100%;
    padding: 50px;
    border-bottom: 10px solid #222222;
}

.card {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item-text__title {
    font-size: 50px;
    margin-bottom: 10px;
}

.item-text__text {
    font-size: 26px;
}
